# Temp deployment
.temp/
.zip

# Virtual envs
env/
venv/
venvs/

# IDEs
.idea/

# Terraform
**/*.tfvars
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
out/

# Python
__pycache__

# Google Cloud credentials
creds.json

# OS
.DS_STORE
